{% set _postfix_recipient = postfix_recipient | bodsch.core.remove_empty_values() %}
# ---------------------------------------------------------

{% if _postfix_recipient.bcc_maps is defined and
      _postfix_recipient.bcc_maps | string | length > 0 %}
recipient_bcc_maps                        = {{ _postfix_recipient.bcc_maps }}
{% endif %}
{% if _postfix_recipient.canonical_classes is defined and
      _postfix_recipient.canonical_classes | string | length > 0 %}
recipient_canonical_classes               = {{ _postfix_recipient.canonical_classes }}
{% endif %}
{% if _postfix_recipient.canonical_maps_files is defined and
      _postfix_recipient.canonical_maps_files | length > 0 %}
  {% if _postfix_recipient.canonical_maps_files is string %}
recipient_canonical_maps                  = {{ _postfix_recipient.canonical_maps_files }}
  {% else %}
recipient_canonical_maps                  =
    {{ _postfix_recipient.canonical_maps_files | join("\n") | indent(4) }}
  {% endif %}
{% endif %}
{% if _postfix_recipient.delimiter is defined and
      _postfix_recipient.delimiter | string | length > 0 %}
recipient_delimiter                       = {{ _postfix_recipient.delimiter }}
{% endif %}
