#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

{% if dovecot_version is version_compare('2.4', '<') %}
  {% if dovecot_lmtp.proxy is defined and
        dovecot_lmtp.proxy | string | length > 0 %}
lmtp_proxy                    = {{ dovecot_lmtp.proxy | bodsch.core.config_bool(true_as='yes', false_as='no') }}
  {% endif %}
  {% if dovecot_lmtp.save_to_detail_mailbox is defined and
        dovecot_lmtp.save_to_detail_mailbox | string | length > 0 %}
lmtp_save_to_detail_mailbox   = {{ dovecot_lmtp.save_to_detail_mailbox | bodsch.core.config_bool(true_as='yes', false_as='no') }}
  {% endif %}
  {% if dovecot_lmtp.rcpt_check_quota is defined and
        dovecot_lmtp.rcpt_check_quota | string | length > 0 %}
lmtp_rcpt_check_quota         = {{ dovecot_lmtp.rcpt_check_quota | bodsch.core.config_bool(true_as='yes', false_as='no') }}
  {% endif %}
  {% if dovecot_lmtp.hdr_delivery_address is defined and
        dovecot_lmtp.hdr_delivery_address | string | length > 0 and
        dovecot_lmtp.hdr_delivery_address in ['final','original','none'] %}
lmtp_hdr_delivery_address     = {{ dovecot_lmtp.hdr_delivery_address }}
  {% endif %}
  {% if dovecot_lmtp.protocols is defined and
        dovecot_lmtp.protocols | count > 0 %}
    {% for pr in dovecot_lmtp.protocols %}

      {% if pr.name is defined %}
        {% set _name = pr. name %}
        {% set _ = pr.pop('name') %}
      {% else %}
        {% set _name = pr.keys() | first %}
      {% endif %}
protocol {{ _name }} {
      {% if pr | bodsch.core.type == "dict" %}
        {% for k, v in pr[_name].items() %}
  {{ k }} = {{ v }}
        {% endfor %}
      {% endif %}
}
    {% endfor %}
  {% endif %}
{% endif %}

{% if dovecot_version is version_compare('2.4', '>=') %}
##
#
## LMTP specific settings
##

# Support proxying to other LMTP/SMTP servers by performing passdb lookups.
#lmtp_proxy = no

# When recipient address includes the detail (e.g. user+detail), try to save
# the mail to the detail mailbox. See also recipient_delimiter and
# lda_mailbox_autocreate settings.
#lmtp_save_to_detail_mailbox = no

# Verify quota before replying to RCPT TO. This adds a small overhead.
#lmtp_rcpt_check_quota = no

# Add "Received:" header to mails delivered.
#lmtp_add_received_header = yes

# Which recipient address to use for Delivered-To: header and Received:
# header. The default is "final", which is the same as the one given to
# RCPT TO command. "original" uses the address given in RCPT TO's ORCPT
# parameter, "none" uses nothing. Note that "none" is currently always used
# when a mail has multiple recipients.
#lmtp_hdr_delivery_address = final

# Workarounds for various client bugs:
#   whitespace-before-path:
#     Allow one or more spaces or tabs between `MAIL FROM:' and path and between
#     `RCPT TO:' and path.
#   mailbox-for-path:
#     Allow using bare Mailbox syntax (i.e., without <...>) instead of full path
#     syntax.
#
#lmtp_client_workarounds {
#  whitespace-before-path = yes
#}

protocol lmtp {
  #mail_plugins {
  #  sieve = yes
  #}
}

{% endif %}
