#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

{% if dovecot_version is version_compare('2.4', '<') %}
  {% if dovecot_managesieve.enabled_protocols is defined and
        dovecot_managesieve.enabled_protocols | length > 0 %}
protocols                     = {{ dovecot_managesieve.enabled_protocols | join(' ') }}
  {% endif %}
  {% if dovecot_managesieve.services is defined and
        dovecot_managesieve.services | count > 0 %}

    {% for service in dovecot_managesieve.services %}

      {% for key, values in service.items() %}
service {{ key }} {
        {% for k, v in values.items() %}
          {% if k == "listeners" and
                v | bodsch.core.type == "list" %}
            {% for x in v %}
              {% set _key = x.keys() | first %}
              {% set _values = x.values() | first %}
              {% if _values.type is defined %}
                {% set _type = _values.type %}
                {% set _ = _values.pop('type') %}
              {% else %}
                {% set _type = "inet" %}
              {% endif %}
  {{ _type }}_listener {{ _key }} {
                {% for kk,vv in _values.items() %}
                  {% if vv | string | length > 0 and
                        vv | bodsch.email.config_value %}
    {{ "%-25s" | format(kk) }} = {{ vv | bodsch.email.config_value }}
                  {% endif %}
                {% endfor %}
  }
            {% endfor %}
          {% else %}
            {% if v | string | length > 0 and
                  v | bodsch.email.config_value %}
  {{ "%-27s" | format(k) }} = {{ v | bodsch.email.config_value }}
            {% endif %}
          {% endif %}
        {% endfor %}
}
      {% endfor %}
    {% endfor %}
  {% endif %}
  {% if dovecot_managesieve.protocols is defined and
        dovecot_managesieve.protocols | count > 0 %}

    {% for pr in dovecot_managesieve.protocols %}
      {% if pr.name is defined %}
        {% set _name = pr. name %}
        {% set _ = pr.pop('name') %}
      {% else %}
        {% set _name = pr.keys() | first %}
      {% endif %}
protocol {{ _name }} {
      {% if pr | bodsch.core.type == "dict" %}
        {% for k, v in pr[_name].items() %}
          {% if v | bodsch.core.type == "list" %}
            {% if v | count != 0 %}
  {{ k }} = {{ v | join(' ') }}
            {% endif %}
          {% else %}
            {% if v | string | length > 0 and
                  v | bodsch.email.config_value %}
  {{ "%-27s" | format(k) }} = {{ v }}
            {% endif %}
  {# {{ k }} = {{ v }} #}
          {% endif %}
        {% endfor %}
      {% endif %}
}
    {% endfor %}
  {% endif %}
{% endif %}

{% if dovecot_version is version_compare('2.4', '>=') %}
##
## ManageSieve specific settings
##

# Uncomment to enable managesieve protocol:
protocols {
  sieve = yes
}

# Service definitions

service managesieve-login {
  inet_listener sieve {
    port = 4190
  }

  inet_listener sieve_deprecated {
    port = 2000
  }

  # Number of connections to handle before starting a new process. Typically
  # the only useful values are 0 (unlimited) or 1. 1 is more secure, but 0
  # is faster. <https://doc.dovecot.org/latest/core/admin/login_processes.html>
  #service_restart_request_count = 1

  # Number of processes to always keep waiting for more connections.
  #process_min_avail = 0

  # If you set service_restart_request_count=0, you probably need to grow this.
  #vsz_limit = 64M
}

service managesieve {
  # Max. number of ManageSieve processes (connections)
  #process_limit = 1024
}

# Service configuration

protocol sieve {
  # Maximum ManageSieve command line length in bytes. ManageSieve usually does
  # not involve overly long command lines, so this setting will not normally
  # need adjustment
  #managesieve_max_line_length = 65536

  # Maximum number of ManageSieve connections allowed for a user from each IP
  # address.
  # NOTE: The username is compared case-sensitively.
  #mail_max_userip_connections = 10

  # Space separated list of plugins to load (none known to be useful so far).
  # Do NOT try to load IMAP plugins here.
  #mail_plugins =

  # MANAGESIEVE logout format string:
  #managesieve_logout_format = bytes=%{input}/%{output}

  # To fool ManageSieve clients that are focused on CMU's timesieved you can
  # specify the IMPLEMENTATION capability that Dovecot reports to clients.
  # For example: 'Cyrus timsieved v2.2.13'
  #managesieve_implementation_string = 'Cyrus timsieved v2.2.13'

  # Explicitly specify the SIEVE and NOTIFY capability reported by the server
  # before login. If left unassigned these will be reported dynamically
  # according to what the Sieve interpreter supports by default (after login
  # this may differ depending on the user).
  #managesieve_sieve_capability {
  #}
  #managesieve_notify_capability {
  #}

  # The maximum number of compile errors that are returned to the client upon
  # script upload or script verification.
  #managesieve_max_compile_errors = 5

  # Refer to 90-sieve.conf for script quota configuration and configuration of
  # Sieve execution limits.
}

{% endif %}
